//COLORS
$white: white;
$brand-color: blue;

$bg-gradient-first: rgb(27,210,201);
$bg-gradient-second: rgba(58,176,209,1);
$video-bg: #41A3AB;

$blue-light: #2CC0CD;
$blue-body: #187A7D;
$orange-dark: #B26513;
$brown: #A7570B;
$red: #FF4500;

$box-bg: #6ED8DD;
//$box-bg: rgba(255,255,255,0.32);

$title-shadow: #3CA1A1;
$title-box-shadow: #51A2A5;

//SIZES
$size: 0.5em;
$font-size: 16px;
$logo-width: 195px;
$nav-size: 1.375em;
$button-size: 24px;

//H
$h1-size: 3.25em;
$h2-size: 3em;
$h3-size: 2.625em;

//LINES
$nav-line: 1.5em;
$button-line: 1.875em;
$title-line: 3.75em;
$modal-headline: 1.25em;

//WIDTH/HEIGHT
$container-width: 1266px;

//SPACE
$shift-1: 0.625em;

//ASSETS
$asset-base-path: '/assets';

@function asset($type, $file) {
    @return url($asset-base-path + '/' + $type + '/' + $file);
}

@function image($file) {
    @return asset('images', $file);
}

@function font($file) {
    @return asset('fonts', $file);
}

@function svg($file) {
    @return asset('svg', $file);
}

@function shadow($color, $size) {
    @return 0px $size 0px $color;
}

.separator {
    margin-bottom: $size *4;
}