// @import fonts
@font-face {
    font-family: 'apokabold';
    src: font('the_northern_block_ltd_-_apoka_bold-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apokalight';
    src: font('the_northern_block_ltd_-_apoka_light-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apokamedium';
    src: font('the_northern_block_ltd_-_apoka_medium-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apokaregular';
    src: font('the_northern_block_ltd_-_apoka_regular-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apokablack';
    src: font('the_northern_block_ltd_-_apoka_black-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apokathin';
    src: font('the_northern_block_ltd_-_apoka_thin-webfont.woff2') format('woff2'),
         font('the_northern_block_ltd_-_apoka_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marujoregular';
    src: font('marujo-webfont.woff2') format('woff2'),
         font('marujo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-footer: 'apokaregular' sans-serif;
$font-header: 'marujoregular', sans-serif;
$font-body: 'apokabold', sans-serif;

body {
    color: $blue-body;
    font-family: $font-body;
}

footer {
    font-family: $font-footer;
}

h1, h2, h3 {
    font-family: $font-header;
    font-weight: normal;
}

h1 {
    color: $white;
    font-size: $h1-size;
}

h3 {
    color: $white;
    font-size: $h3-size;
}

.card p {
    font-family: $font-body;
}

.rich-text {
    color: $white;
    p {
        margin-top: 0.5em;
    }


    h1,h2,h3 {
        color: $white;
    }

    a {
        text-decoration: underline;
    }
}