//SIZES
$font-size: 16px;
$logo-width: 195px;

$nav-size: 1.375em;

$nav-line: 1.5em;
$button-line: 1.875em;
$title-line: 3.75em;

//H
$h1-size: 3.25em;
$h2-size: 3em;
$h3-size: 2.625em;

//WIDTH/HEIGHT
$container-width: 1266px;

//SPACE
$shift-1: 0.625em;

//ASSETS
$asset-base-path: '/assets';

@function asset($type, $file) {
    @return url($asset-base-path + '/' + $type + '/' + $file);
}

@function image($file) {
    @return asset('images', $file);
}

@function font($file) {
    @return asset('fonts', $file);
}