//
.button {
    min-height: 2em;
    font-size: $button-size;
    color: $white;
    font-family: $font-header;
    text-shadow: shadow($orange-dark, 2px);

    &.is-primary {
        //todo: meg nem nyulik a bg. Kerlek, hogy nezz majd ra.
        background-image: svg('button-primary-bg.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        &:hover {
            background-color: transparent;
        }
    }
    &.is-secondary {
        //todo: meg nem nyulik a bg. Kerlek, hogy nezz majd ra.
        background-image: svg('button-secondary-bg.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border: none;
        &:hover {
            background-color: transparent;
        }
    }
    &.upload {
        min-width: 9rem;
    }
}