//
.button {
    min-height: 4em;
    font-size: $button-size;
    color: $white;
    font-family: $font-header;
    text-shadow: shadow($orange-dark, 2px);

    &.is-primary {
        //todo: meg nem nyulik a bg. Kerlek, hogy nezz majd ra.
        background-image: svg('button-primary-bg.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
            background-color: transparent;
        }
    }
}