//CONTAINER
.container {
    max-width: $container-width;
    padding: $size * 4;
}

//SECTION
.section {
    padding-top: 0;
}

.columns {
    margin-bottom: $size * 4;
}

.kajla-wrapper {
    background: rgb(27,210,201);
    background: linear-gradient(112.01deg, $bg-gradient-first 6.38%, $bg-gradient-second 85.43%);
}

.guide-steps {
    .title {
        color: $white;
        text-shadow: shadow($title-shadow, 4px);
        margin: 14px 0;
    }
    .media {
        flex-direction: column;
        justify-content: center;
    }
    .media-content {
        text-align: center;
        min-width:100%;
        min-height: 270px;
        .content {
            font-size: 16px;
            line-height: 18px;
        }
    }
    .box {
        border-image-source: svg('box-blue-vertical.svg');
        border-image-slice: 38 fill;
        border-image-width: 30px;
        border-image-repeat:  stretch;
        min-width: 300px;
        padding: 30px;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        position:relative;


        &__inner {
            background-color:$box-bg;
            padding: 0;
            background-image: svg('step-circle-bg.svg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;

        }

        .box-bottom {

        }
    }
    .media-center {
        height:340px;
    }
    .content {
        p {
            color: $blue-body;
        }
    }
}

.info-horizonatal {
    border-image: svg('box-blue-horizontal.svg') 40 fill/ 19px / 0 stretch;
    -webkit-border-image: svg('box-blue-horizontal.svg') 40 fill/ 19px / 0 stretch;
    //min-width: 300px;
    //min-width: 300px;
    padding: 16px;
    
    &__inner {
        background-color:$box-bg;
        padding: 16px;
    
    }
}

.video-box {
        border-image-source: svg('box-blue-vertical.svg');
        border-image-slice: 38 fill;
        border-image-width: 30px;
        border-image-repeat: stretch;
    padding: 30px;
    //height: 704px;

    .title {
        color: $white;
        text-shadow: shadow($title-box-shadow, 2px);
    }

    &__inner {
        background-color:$box-bg;
        padding: 0;
    }

    .video-wrapper {
        a {
            color: $blue-body;
        }
        p {
            padding: $size *2 0;
        }
        .first {
            p {
                font-family: $font-header;
                font-size: $size * 3;
                display: block;
            }
            .video-item {
                margin-bottom: 0;
                &__inner {

                }
            }
        }
        .video-item-button {
            display: block;
        }
        .video-item {
        border-image-source: svg('video-bg.svg');
        border-image-slice: 38 fill;
        border-image-width: 30px;
        border-image-repeat:stretch;
            padding: 16px;
            &__inner {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:$video-bg;
                padding: 0;
            }

            .play-button {
                position: absolute;
                width: $size * 7;
                height: auto;
                z-index: 1;
            }

            .video-thumb {
                width: 100%;
                height: auto;
            }

        }

    }
}

.picture-box {
        border-image-source: svg('box-blue-pictures.svg');
        border-image-slice: 38 fill;
        border-image-width: 30px;
        border-image-repeat:stretch;
    padding: 60px;
    &__inner {
        background-color:#7BCBD4;
        padding: 10px 20px;
    }

    .title {
        color: $white;
        text-shadow: shadow($title-box-shadow, 2px);
    }

    .picture {
        border-image-source: svg('picture-bg.svg');
        border-image-slice: 38 fill;
        border-image-width: 30px;
        border-image-repeat:stretch;
        padding: 12px;
        &__inner {
            overflow: hidden;
            position: relative;
            background-color: $video-bg;
            height: 170px;
            .picture-center {
                width: 100%;
                //display: flex;
                //justify-content: center;
                position: absolute;
                //left: 0;
                //top: 0;
                //margin-left: -500px;
                img {
                    min-width: 160%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }

            }
            
        }
    }

    p {
        padding: $size 0;
    }


}

.jackpot-box {
    border-image: svg('box-blue-horizontal.svg') 40 / 19px / 0 stretch;
    -webkit-border-image: svg('box-blue-horizontal.svg') 40 / 19px / 0 stretch;
    padding: 16px;
    
    &__inner {
        background-color:$box-bg;
        padding: 16px;
    }

    h3 {
        color: $white;
        text-shadow: shadow($title-shadow,2px);
    }

    .jackpot-map-item {
        position: relative;

        .jackpot-map {
            position: absolute;
            width: 146%;
            top: -35%;
            left: -10%;
        }
    }

}