//
.button {
    min-height: 4em;
    &.is-primary {
        background-image: image('button-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}