.section-hero {
    height: 778px;
    padding-bottom: 0;
    background-image: url("/assets/images/hero.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: $white;
        text-align: center;
        line-height: 60px;
    }
}