//CONTAINER
.container {
    max-width: $container-width;
}

//SECTION
.section {
    padding-top: 0;
}

.kajla-wrapper {
    background: rgb(27,210,201);
    background: linear-gradient(112.01deg, $bg-gradient-first 6.38%, $bg-gradient-second 85.43%);
}

//ARTICLE

//SIDEBAR

//FOOTER