.container {

    .navbar {
        background-color: transparent;
        width: 100%;
    
        .navbar-brand {
            margin-top: 0.5em;
            img {
                width: $logo-width;
                max-height: 100%;
            }
        }  
    
        .navbar-menu {
            display: flex;
            justify-content: space-evenly;
        }
    }

}

.navbar-link {
    padding: 0;
}


.navbar-start {
    align-items: flex-start;
    margin-right: -6em;
    &.navbar-right {
        margin-right: 0;
        margin-left: -6em;
    }

    .navbar-item {
        font-size: $nav-size;
        color: $white;
        height: auto;
    
        text-shadow: 0px 2px 0px $blue-light;
    
        padding: 0.625em;
        margin: 0.5em;
    
        img {
            max-height: 100%;
        }
    }

}

.navbar-menu {
    position: relative;
    margin-top: $shift-1;
}

